<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Form</title>
    <link rel="stylesheet" href="/css/sa_widget.css">
</head>
<body>
    <script src="//localhost:3000/js/sdk.js" type="application/javascript" charset="utf-8"></script>
    <div id="app"></div>
    <div id="as_widget"></div>
    <!-- <script src="/js/vendors.js" type="text/javascript" charset="utf-8"></script> -->
    <!-- <script src="/js/index.js" type="application/javascript" charset="utf-8"></script> -->
    <script type="application/javascript" charset="utf-8">
        AS.init({
            appId: '12345',
            id: 'as_widget',
            // button_color: 'red',
            // bg_color: 'aqua',
            // font_color: 'green',
            locale: 'en',
            version: 'v1.0'
        });
    </script>
</body>
</html>